@model MenuItem

<div class="card m-2" style="width: 18rem;">
    <img class="card-img-top" src="@Model.Image" alt="Card image cap">
    <h3 class="card-title">@Model.Name</h3>
    <span class="card-text">@Model.Price  kr</span>
    <span class="card-text">@Model.Description</span>
</div>