




<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/about.svg" alt="About Image" width="272" height="272">
    <h2>Our Story</h2>
    <p class="lead">From humble beginnings</p>
  </div>


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">From Humble Beginnings. <span class="text-muted">The Early Days.</span></h2>
      <p class="lead">Bird & Brew started as a small idea on a quiet street corner—a simple love for perfectly cooked chicken sandwiches and locally brewed beer. With just a few tables and a lot of heart, our founders wanted to create a place where friends could gather, eat well, and feel at home.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="https://picsum.photos/id/163/200/300" alt="500x500"  data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Our Craft. <span class="text-muted">Your Treat.</span></h2>
      <p class="lead">Every chicken sandwich we serve is made with care, using fresh ingredients and a recipe refined over countless late-night tastings. Pair it with one of our thoughtfully selected craft beers, and you’ve got a combination that celebrates simplicity done right.

      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="https://picsum.photos/id/46/200/300" alt="500x500"  data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Growing Together. <span class="text-muted">One Bite at a Time.</span></h2>
      <p class="lead">From our first loyal customers to the wider community we now serve, Bird & Brew has grown while keeping our humble values at heart. We’re more than a restaurant—we’re a place where people come together, share good food, and make memories over a pint and a perfect chicken sandwich.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="https://picsum.photos/id/85/200/300" alt="500x500"  data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>
  

</div>