@{
Layout = "_Layout";
ViewData["Title"] = "Oops! Not Found";
}

<div class="text-center mt-5">
    <img src="/oops.svg" alt="Image of Bird and OOPS!"  text="Oops!"  style="width: 25rem"  />
    <p class="lead">The page you’re looking for doesn’t exist or cannot be reached right now.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary mt-3">Go Back Home</a>
</div>