@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bird and Brew</h1>
    <p>This is a paragraph about the restaurant Bird and Brew.This is a paragraph about the restaurant Bird and Brew.This is a paragraph about the restaurant Bird and Brew.This is a paragraph about the restaurant Bird and Brew.This is a paragraph about the restaurant Bird and Brew.This is a paragraph about the restaurant Bird and Brew.
        This is a paragraph about the restaurant Bird and Brew.This is a paragraph about the restaurant Bird and Brew.This is a paragraph about the restaurant Bird and Brew.This is a paragraph about the restaurant Bird and Brew.This is a paragraph about the restaurant Bird and Brew.
        This is a paragraph about the restaurant Bird and Brew.This is a paragraph about the restaurant Bird and Brew.This is a paragraph about the restaurant Bird and Brew.This is a paragraph about the restaurant Bird and Brew.</p>
</div>


<div>
    <h4>Most Popular Dishes</h4>
</div>


