@model BirdAndBrewMVC.ViewModels.AddMenuItemVM


<form asp-action="Add" method="post">
    
    <div>
        <label asp-for="Name" class="form-label mt-2"></label><br/>
        <input asp-for="Name" class="form-text mt-2"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Description" class="form-label mt-2"></label><br/>
        <input asp-for="Description" class="form-text mt-2"/>
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <label asp-for="Price" class="form-label mt-2"></label><br/>
        <input asp-for="Price" type="number" class="form-text mt-2"/>
        <span asp-validation-for="Price"></span>
    </div>
    <div>
        <label asp-for="ImageUrl" class="form-label mt-2"></label><br/>
        <input asp-for="ImageUrl" class="form-text mt-2"/>
        <span asp-validation-for="ImageUrl"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary mt-2">OK</button>
        <button type="button" class="btn btn-secondary mt-2">Cancel</button>
    </div>
    
</form>