@{
ViewData["Title"] = "Our Menu";
}

@model List<BirdAndBrewMVC.Models.MenuItem>


<div class="text-center">
    <h1 class="display-4 mt-4">Our Menu</h1>
</div>

<div class="d-flex flex-wrap">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_MenuItemCard", item)
    }
</div>

