@model BirdAndBrewMVC.ViewModels.CreateMenuItemVM


<body class="w-100">

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Admin" asp-action="Dashboard">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="AdminReservations" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                            Bookings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="AdminMenu" asp-action="Index" class="nav-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                            Menu
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="AdminCustomers" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="AdminTables" asp-action="Index" class="nav-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                            Table
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Manage Menu</h1>

                <div class="btn-toolbar mb-2 mb-md-0">

                    <button class="btn btn-primary" asp-controller="AdminMenu" asp-action="Create"> Add New Menu Item </button>

                </div>
            </div>


            <div class="container">
                <div class="py-5 text-left">
                    <p class="lead">Here you can add a new item to the menu</p>
                </div>

                <div class="row">
                    <div class="col-md-8 order-md-1">
                        <form asp-controller="AdminMenu" asp-action="Create" method="post" class="needs-validation" >
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label asp-for="Name">Table Number</label>
                                    <input asp-for="Name" type="text" class="form-control" id="name" placeholder="" value="" required="">
                                    <span asp-validation-for="Name"></span>
                                    <div class="invalid-feedback">
                                        Valid Name is Required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label asp-for="Description">Description</label>
                                    <input asp-for="Description" type="number" class="form-control" id="text" placeholder="" value="" required="">
                                    <span asp-validation-for="Description"></span>
                                    <div class="invalid-feedback">
                                        Valid Description is Required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label asp-for="Price">Price</label>
                                    <input asp-for="Price" type="number" class="form-control" id="number" placeholder="" value="" required="">
                                    <span asp-validation-for="Price"></span>
                                    <div class="invalid-feedback">
                                        Valid Price is Required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label asp-for="Image">Link to image</label>
                                    <input asp-for="Image" type="number" class="form-control" id="number" placeholder="" value="">
                                    <span asp-validation-for="Image"></span>
                                    <div class="invalid-feedback">
                                        Valid Image Link is Required
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-check">
                                        <input asp-for="IsPopular" class="form-check-input" type="checkbox" id="popular" />
                                        <label asp-for="IsPopular" class="form-check-label">Is this a popular dish?</label>
                                    </div>
                                    <span asp-validation-for="IsPopular" class="text-danger"></span>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <button type="submit" class="btn btn-primary mt-2">OK</button>
                            <a asp-action="Index" class="btn btn-secondary mt-2">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>


        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

</body>


